<header class="mra-header">

  <!-- TOP NAV -->
  <div class="topbar">
    
    <!-- Logo -->
    <div class="logo">
      <a href="/public/pages/index.html">
        <img src="/public/img/LogoMRA.png" alt="logo">
      </a>
    </div>

    <!-- Search -->
    <div class="search">
      <input type="search" placeholder="¿Qué estás buscando?">
    </div>

    <!-- Icons -->
    <div class="icons">
      <div class="icon-btn">🏷️</div>
      <div class="icon-btn">🤍</div>
      <div class="icon-btn">🛒</div>
    </div>

  </div>

  <!-- MAIN NAV -->
  <nav class="main-nav">
    <a href="monturas.html">Monturas</a>
    <a href="tecnologias.html">Tecnologías</a>
    <a href="productos.html">Productos</a>
    <a href="lentesDeContacto.html">Lentes de contacto</a>
    <a href="citas.html">Citas</a>
    <a href="about.html">Sobre nosotros</a>
    <a href="promociones.html">Promociones</a>
  </nav>

</header>

